mixin row(index,items)
  tr
    td= index + 1
    each item, index in items
      td= item 

mixin table(tableData)
  .panel.panel-default
    table    
      thead
        tr
          th №  
          each val, index in tableData[1]
            th= index     
        each row, index in tableData
          +row(index,row)		  

extends layout
block pageContent           
      +table(data)
  